body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
    'y y y'
    'n n n'
    'a a a'
    'm m m';
grid-template-rows: 12em 4em 8em auto;
grid-template-columns: auto auto auto;
}
header {
    grid-area: y;
    background-color: #CDDF8D;
    background-size: 100% 100%;
    border: 1px solid black;
    box-sizing: border-box;
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav {
    grid-area: n;
    background-color: #CDDF8D;
    background-size: 100% 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
main {
    grid-area: m;
    background-color: #CDDF8D;
    background-size: 100% 100%;
    text-align: left;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
aside {
    grid-area: a;
    background-image: url(bringdield.png);
    background-size: 100% 100%;
}
img {
    width: 10em;
}